- connection: local
  gather_facts: false
  hosts: localhost
  name: "Deprovision mediawiki-apb from {{ cluster }}"
  roles:
  - ansibleplaybookbundle.asb-modules
  - mediawiki-apb
  vars:
    apb_action: deprovision
